RAPP_BASE_URL=https://api.rapp.dev.br
RAPP_USERNAME=seu_usuario
RAPP_PASSWORD=sua_senha
ESCOLA_BACKEND_KEY=crie_uma_chave_longa_e_aleatoria
ESCOLA_APP_ORIGIN=https://seu-app.vercel.app
DEMO_PARENT_CPF=00000000000
DEMO_PARENT_PASSWORD_HASH=hash_hmac_sha256_da_senha
DEMO_VEHICLE_PLATE=ABC1D23
DEMO_STUDENT_LATITUDE=-20.000000
DEMO_STUDENT_LONGITUDE=-54.000000
DEMO_ROUTE_AVERAGE_SPEED_KMH=25
DEMO_ROUTE_MORNING_JSON=[[0,0],[0,0]]
DEMO_ROUTE_AFTERNOON_JSON=[[0,0],[0,0]]
DEMO_ROUTE_TIMEZONE=America/Campo_Grande
SESSION_SECRET=crie_outro_segredo_longo_e_aleatorio
